{% extends "base.html" %}
{% block content %}

<h3 class="light-green-text text-darken-4 center_align">Tasks</h3>

<div class="row">
    <div class="co s12 center-align">
        <a href="{{ url_for('add_task') }}" class="btn-large light-green darken-2">
            Add Task <i class="material-icons">add</i>
        </a>
    </div>
</div>

<ul class="collapsible">
    {% for task in tasks|sort(attribute="due_date") %}
    <li>
        <div class="collapsible-header white-text light-green darken-4">
            <i class="material-icons">arrow_drop_down</i>
            <strong>{{ task.task_name }}</strong> : {{ task.due_date.strftime("%d %B, %Y") }}
            {% if task.is_urgent == True %}
                <i class="material-icons">alarm</i>
            {% endif %}
        </div>
      <div class="collapsible-body">
        <strong>{{ task.category }}</strong>
        <p>{{ task.task_description }}</p>
        <div class="card-action">
          <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn green accent-4">Edit</a>
          <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn red">Delete</a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>


{% endblock %}